* {
  box-sizing: border-box;
}

body {
  overflow-x: auto;
}

h1 {
  text-align: center;
  font-size: 100px;
  margin : 25px 0px 50px;
}

nav {
  margin-bottom: 30px;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0px;
  background-color: white;
}

.full-screen > img {
  width: 100%;
  max-width: 100%;
  /* width : unset; */
  height: unset;
  max-height: 80vh;
  object-fit: contain;  
}

select {
  margin: 0 auto 20px;
  display: block;
  font-size: 25px;
}



main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

ul > li {
  border: 3px solid black;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
}

img {
  max-height: 400px;
  width: 400px;
  object-fit: contain;
  vertical-align: middle;
}


main p {
  word-wrap: break-word;
  max-width: 400px;
  padding: 5px;
  margin: 0 auto;
}

section {
  margin : 0px 10px 30px;
  /* height: 520px;  */
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 10px;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 3em;
  margin: 5px auto 15px;
  word-wrap: break-word;
  max-width: 400px;
}

p {
  font-size: 1.3em;
}

/* main > div > h2 {
  position: absolute;
  top: 0px; left : 0px;
} */